@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "DMSans";
	src: url("../assets/fonts/DMSans-Light.ttf");
	font-weight: 300;
}

/* Arabic */
@font-face {
	font-family: "Tajawal";
	src: url("../assets/fonts/Tajawal-Medium.ttf");
	font-weight: 300;
}
